:root {
  --background-color: white;
  --header-primary-color: steelblue;
  --header-primary-color-hover: rgb(65, 122, 168);
  --header-height: auto;
  --footer-height: auto;
}

* {
  margin: 0;
  padding: 0; 
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  padding-bottom: var(--footer-height);
}

html, body, #root {
  height: 100%;
}

button {
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: 700;
  border: none !important;
  color: white;
  border-radius: 8px;
}

input {
  height: 35px;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid black;
  outline: none;
  padding: 5px 5px 5px 15px;
}

textarea {
  min-height: 70px;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  padding: 5px 5px 5px 15px;
}

button:hover {
  cursor: pointer;
}

.news-header {
  background-color: var(--header-primary-color);
  padding: 5px;
  height: var(--header-height);
  min-height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
}

.news-header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.news-header nav a {
  text-decoration: none;
  font-size: 16px;
  padding: 5px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px;
  font-weight: 600;
}

.news-header nav a:hover {
  box-shadow: 0px 0px 4px 0px;
}

.news-header nav .selected {
  color: steelblue;
  background-color: white;
  box-shadow: inset 0px 0px 0px 0px;
}

.news-footer {
  font-size: 11px;
  width: 100%;
  height: var(--footer-height);
  min-height: 40px;
  background-color: var(--header-primary-color);
  padding: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: static;
  bottom: 0;
}

.news-wrapper {
  padding: 65px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-wrapper img {
  width: 100%;
}

.news-wrapper article {
  margin: 10px;
  margin-bottom: 40px;
  border-top: 1px solid black;
  padding-top: 20px;
}

.news-wrapper article h2 {
  margin-bottom: 10px;
}

.news-wrapper article span {
  display: flex;
  justify-content: flex-end;
}

.news-wrapper article p {
  text-indent: 15px;
}


@media (min-width: 800px) {
  body {
    padding: 0px 200px;
  }

  .news-header, .news-footer {
    width: calc(100vw - 400px);
  }

  .news-footer {
    font-size: 14px;
    padding: 5px 30px;
  }

  .news-wrapper img {
    padding: 30px;
  }
}

@media (min-width: 1500px) {
  .news-header a {
    min-width: 150px;
    display: flex;
    justify-content: center;
  }
}
